---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=1368%20Versailles%20Ave,%20Alameda,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"place_id":298781862,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright","osm_type":"way","osm_id":465944677,"lat":"37.76087029999999","lon":"-122.23680482327845","class":"building","type":"yes","place_rank":30,"importance":6.044022278167418e-05,"addresstype":"building","name":"","display_name":"1368,
        Versailles Avenue, East End, Alameda, Alameda County, California, 94502, United
        States","address":{"house_number":"1368","road":"Versailles Avenue","neighbourhood":"East
        End","city":"Alameda","county":"Alameda County","state":"California","ISO3166-2-lvl4":"US-CA","postcode":"94502","country":"United
        States","country_code":"us"},"boundingbox":["37.7608055","37.7609404","-122.2368863","-122.2367278"]}]'
  recorded_at: Tue, 26 Nov 2024 02:26:04 GMT
recorded_with: VCR 6.3.1
