---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"place_id":302531674,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":111968,"lat":"37.7792588","lon":"-122.4193286","class":"boundary","type":"administrative","place_rank":12,"importance":0.7718570210055521,"addresstype":"city","name":"San
        Francisco","display_name":"San Francisco, California, United States","address":{"city":"San
        Francisco","state":"California","ISO3166-2-lvl4":"US-CA","country":"United
        States","country_code":"us"},"boundingbox":["37.6403143","37.9298110","-123.1738250","-122.2814790"]}]'
  recorded_at: Tue, 26 Nov 2024 03:11:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=714de6fbdb94cb8dde1e839ec1e33776&lang=en&lat=37.7792588&lon=-122.4193286&units=standard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4193,"lat":37.7793},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":285.31,"feels_like":284.96,"temp_min":284.43,"temp_max":286.39,"pressure":1016,"humidity":91,"sea_level":1016,"grnd_level":1012},"visibility":10000,"wind":{"speed":4.12,"deg":240},"clouds":{"all":100},"dt":1732590506,"sys":{"type":2,"id":2017837,"country":"US","sunrise":1732546873,"sunset":1732582375},"timezone":-28800,"id":5391959,"name":"San
        Francisco","cod":200}'
  recorded_at: Tue, 26 Nov 2024 03:11:27 GMT
recorded_with: VCR 6.3.1
